body {
  font-family: system-ui;
  background: hsl(200, 50%, 5%);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.ripple-bttn {
  display: inline-grid;
  place-items: center;
  font-size: 3rem;
  appearance: none;
  padding: 1em 3em;
  text-transform: uppercase;
  background-color: transparent;
  color: hsl(200, 90%, 44%);
  border: 5px solid currentColor;
  border-radius: 0.125em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.ripple-bttn::after {
  content: "";
  width: 120%;
  aspect-ratio: 1/1;
  background: #ffff;
  opacity: 0.5;
  position: absolute;
  clip-path: circle();
  z-index: -1;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms ease;
}

.pulse::after {
  animation: pulse 400ms ease;
}
@keyframes pulse {
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
